.main-home {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  h1 {
    color: var(--yellow);

    letter-spacing: 4px;
    font-size: 54px;

    margin-bottom: 42px;
  }

  img {
    display: block;

    margin-bottom: 42px;
  }

  button {
    background-color: var(--red);
    color: #fff;

    border: none;
    font-size: 24px;

    width: 270px;

    border-radius: 50px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
